{% extends "base.html" %}

{% block content %}
    <br>
    <div class="d-flex align-items-center mb-4">
        <label for="transaction_type" class="form-label me-2">тип:</label>
        <select name="transaction_type" class="form-select w-50" id="filterSelect">
            <option value="">Доходы/расходы</option>
            <!-- Use value "I" and "E" in case of form usage -->
            <option value="Доходы">Доходы</option> 
            <option value="Расходы">Расходы</option>
        </select>
    </div>
    <div class="mb-4">
        <form method="get" action="." class="d-flex align-items-center">
            <label for="start_date" class="form-label me-2">с:</label>
            <input type="date" name="start_date" id="start_date" class="form-control w-25 me-2" value="{{ request.GET.start_date }}">
            <label for="end_date" class="form-label me-2">по:</label>
            <input type="date" name="end_date" id="end_date" class="form-control w-25 me-2" value="{{ request.GET.end_date }}">
            <input type="hidden" name="sort" value="{{ request.GET.sort|default:'date' }}">
            <input type="hidden" name="order" value="{{ request.GET.order|default:'asc' }}">
            <input type="submit" value="Задать период" class="btn btn-info me-2">
            <a href="{% url 'transactions.list' %}" class="btn btn-secondary">Сбросить</a>
        </form>
    </div>
    <div class="mb-4">   
        <a href="{% url 'transactions.new'%}" class="btn btn-primary">Внести</a> 
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a href="?sort=date{% if request.GET.sort == 'date' and request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">
                        Дата
                    </a>
                </th>
                <th>
                    <a href="?sort=amount{% if request.GET.sort == 'amount' and request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">
                        Сумма (тг.)
                    </a>
                </th>
                <th>
                    <a href="?sort=transaction_type{% if request.GET.sort == 'transaction_type' and request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">
                        Тип
                    </a>
                </th>
                <th>
                    <a href="?sort=category{% if request.GET.sort == 'category' and request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">
                        Категория
                    </a>
                </th>
                <th>Описание</th>
                <th>
                    <a href="?sort=created{% if request.GET.sort == 'created' and request.GET.order == 'asc' %}&order=desc{% else %}&order=asc{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">
                        Внесено
                    </a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="transactionTableBody">
            {% for transaction in transactions %}
            <tr>                
                <td>
                    <a href="{% url 'transaction.edit' transaction.id %}">{{ transaction.date }}</a>
                </td>
                <td>{{ transaction.amount|floatformat:"0" }}</td>
                <td>{{ transaction.get_transaction_type_display }}</td>
                <td>{{ transaction.category.name}}</td>
                <td>{{ transaction.description }}</td>
                <td>{{ transaction.created }}</td>
                <td>
                    <a href="{% url 'transaction_delete' transaction.id %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">                    
                    предыдущая.
                </a>
            {% endif %}
    
            <span class="current">
                страница {{ page_obj.number }} из {{ paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">
                    следующая
                </a>
            {% endif %}
        </span>
    </div>
    

    
    <!--Adding JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>


    <!-- JQuery script to filter table based on transaction type -->
    <script>
        $(document).ready(function() {
            $("#filterSelect").on('change', function() {
                var selectedType = $(this).val(); // Get selected value
                $("#transactionTableBody tr").each(function() {
                    var cellValue = $(this).find("td:eq(2)").text(); // Get the text of the third column (index starts at 0)
                    if (cellValue === selectedType || selectedType === '') {
                        $(this).show(); // Show row
                    } else {
                        $(this).hide(); // Hide row
                    }
                });
            });
        });
    </script>
    
{% endblock %}