{% extends 'base.html' %}

{% block content %}

<!-- JS script to filter categories based on transaction type (Income or Expense) -->
<script>
    // Define a dictionary to hold categories by transaction type
    var categoriesByType = {
      'I': [],
      'E': [],
    };
  
    // Populate this dictionary
    {% for category in all_categories %}
      categoriesByType['{{ category.category_type }}'].push({
        'id': '{{ category.id }}',
        'name': '{{ category.name }}'
      });
    {% endfor %}
    
    function updateCategoryOptions() {
      var transactionType = document.getElementById("id_transaction_type").value;
      var categorySelect = document.getElementById("id_category");
  
      // Clear existing options
      categorySelect.innerHTML = "";
  
      // Add relevant options based on selected transaction type
      categoriesByType[transactionType].forEach(function(category) {
        var option = new Option(category.name, category.id);
        categorySelect.options.add(option);
      });
    }
  </script>

<form method='POST' id="transactionForm" onsubmit="return validateForm()">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'transactions.list'%}" class="btn btn-secondary">Отменить</a>
</form>

<script>
    // Attach an event listener to update category options when transaction type changes
    document.getElementById("id_transaction_type").addEventListener("change", updateCategoryOptions);
  
    // Call it once to initialize
    updateCategoryOptions();
  </script>

{% if form.errors %}
<div class="alert alert-danger my-5">
    {{form.errors.title.as_text}}
</div>
{% endif %}

{% endblock %}